
.footer {
    background-color: #512DA8;
    /* background:   linear-gradient(to right , #512DA8 ); */
    margin-top: 50px;
    color: #ffffff;
    text-align: right;




}

.zarrinpal {
    text-align: left;
   

}


.zarrinpal img{ 
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

.social-container {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    padding: 10px 0;
}
.social {
    width: 35px;
    height: 35px;
    background-color: transparent;
    margin:0 10px ;
    border-radius: 50%;
    border: 2px solid #fcfcfc;

    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat; 
    transition: all 0.4s;
    cursor: pointer;
}

.social:hover{
    transform: translateY(-5px);
}

.facbook {
    background-image: url('../../assets/icons/social/facebook-logo.svg');
}

.instagram {
    background-image: url('../../assets/icons/social/instagram.svg');
}


.twitter {
    background-image: url('../../assets/icons/social/tw.svg');
}
.linkedin {
    background-image: url('../../assets/icons/social/linkedin.svg');
   


}